@use '@/assets/styles/abstracts' as *;

$spinner-first-arrow: var(--brand-primary);
$spinner-second-arrow: var(--brand-primary);
$backdrop-color: rgba(140, 140, 140, 0.9);

.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; // Hər şeyin, hətta modalların üzərində
  width: 100%;
  height: 100vh;
  @include flex-center;
  backdrop-filter: blur(2px); // Modern "Glassmorphism" effekti (istəməsən sil)
  background-color: $backdrop-color;
}

.loader {
  display: inline-block;
  position: relative;
  animation: 1s rotate linear infinite;
  box-sizing: border-box;
  border-width: 3px 2px 3px 2px;
  border-style: solid;
  border-color: $spinner-first-arrow transparent #fff transparent;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-10px, 19px) rotate(-35deg);
  border: 10px solid transparent;
  border-bottom-color: #fff;
  content: '';
}
.loader:after {
  transform: translate(32px, 3px) rotate(-35deg);
  border-color: $spinner-first-arrow #0000 #0000 #0000;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
