@import '../../../assets/styles/tokens/media.css';

.container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: var(--z-tooltip);
  backdrop-filter: blur(2px);
  background-color: rgb(140 140 140 / 90%);
  width: 100%;
  height: 100vh;
}

.loader {
  display: inline-block;
  position: relative;
  animation: rotate var(--duration-long) linear infinite;
  box-sizing: border-box;
  border-width: 3px 2px;
  border-style: solid;
  border-color: var(--brand-primary) transparent var(--text-on-inverse) transparent;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;

  @media (--motion-reduce) {
    animation: none;
  }

  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-10px, 19px) rotate(-35deg);
    border: 10px solid transparent;
    border-bottom-color: var(--text-on-inverse);
    content: '';
  }

  &::after {
    transform: translate(32px, 3px) rotate(-35deg);
    border-color: var(--brand-primary) transparent transparent transparent;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
