*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  border: none;
  background: transparent;
  color: inherit;
  font: inherit;
}
