@use '@/assets/styles/abstracts' as a;

$item-height: a.rem(25);
.trigger {
  @include a.flex-center;
  gap: var(--space-xs);
  cursor: pointer;
  box-shadow: var(--shadow-soft);
  border: 1px solid var(--input-border);
  border-radius: var(--radius-sm);
  background-color: var(--white);
  padding: var(--space-sm);
  line-height: 1;
  @include a.transition();
  user-select: none;
  &.small {
    padding: var(--space-xxs);
  }

  &:hover {
    background-color: var(--input-bg-hover);
  }

  &:focus-visible {
    @include a.focus-ring(var(--brand-primary));
  }

  &[data-placeholder] {
    color: var(--input-placeholder-color);
  }
}

.icon {
  color: var(--input-placeholder-color);
}

.content {
  z-index: a.$z-tooltip;
  box-shadow: var(--shadow-strong);
  border-radius: var(--radius-sm);
  background-color: var(--white);
  overflow: hidden;
  color: var(--input-color);
}

.viewport {
  padding: 5px;
}

.item {
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  border-radius: var(--radius-xxs);
  padding: 0 a.rem(35) 0 a.rem(25);
  height: $item-height;
  color: var(--text-main);
  font-size: a.rem(14);
  line-height: 1;
  user-select: none;

  &[data-disabled] {
    pointer-events: none;
    color: var(--input-color-disabled);
  }

  &[data-highlighted],
  &[data-state='checked'] {
    outline: none;
    background-color: var(--brand-primary);
    color: var(--white);
  }
}

.label {
  font-size: a.rem(14);
}

.scroll {
  @include a.flex-center;
  cursor: default;
  background-color: var(--white);
  height: $item-height;
  color: var(--brand-primary);
}

.up {
  border-bottom: solid 1px var(--input-border);
}

.down {
  border-top: solid 1px var(--input-border);
}
