{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-css-order"],
  "cssDeclarationSorterOrder": "concentric-css"
}