.overlay {
  position: fixed;
  z-index: 50;
  // Sadə fade-in animasiyası
  animation: fadeIn 0.2s ease-out;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 51;
  animation: slideUp 0.2s ease-out;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: white;
  padding: 24px;
  width: 90%;
  max-width: 500px;
  max-height: 85vh;

  &:focus {
    outline: none;
  }
}

.title {
  margin: 0 0 10px;
  font-weight: 600;
  font-size: 18px;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: none;
  background: transparent;
  color: #666;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translate(-50%, -48%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
