@use '@/assets/styles/abstracts' as *;

.public {
  margin-left: 0;
  min-height: calc(100vh - 50px) !important;
  @include transition();
  padding: rem(110) rem(20) 0;
}

.open {
  will-change: margin-left;
  margin-left: var(--layout-sidebar-width);
}
.network {
}
