@use '@/assets/styles/abstracts' as a;

.layout {
  margin-left: 0;
  min-height: calc(100vh - 50px) !important;
  @include a.transition();
  padding: a.rem(110) a.rem(20) 0;
}

.open {
  will-change: margin-left;
  margin-left: var(--layout-sidebar-width);
}

.network {
  color: red;
}
