@use '@/assets/styles/abstracts' as *;

$translate: calc(var(--layout-sidebar-width) * -1);
.sidebar {
  border-right: 1px solid var(--sidebar-border);
  position: fixed;
  left: 0;
  top: var(--layout-sidebar-spacing);
  width: var(--layout-sidebar-width);
  height: calc(100vh - var(--layout-sidebar-spacing));
  padding: rem(20) rem(15);
  transform: translateX($translate);
  @include transition();
}

.open {
  will-change: transform;
  transform: translateX(0);
}