@use '@/assets/styles/abstracts' as *;

.footer {
  margin-top: rem(20);
  margin-left: 0;
  font-size: rem(13);
  letter-spacing: 1px;
  @include transition();
}
.open {
  will-change: margin-left;
  margin-left: var(--layout-sidebar-width);
}
