@use '@/assets/styles/abstracts' as a;

.footer {
  margin-top: a.rem(20);
  margin-left: 0;
  font-size: a.rem(13);
  letter-spacing: 1px;
  @include a.transition();
}

.open {
  will-change: margin-left;
  margin-left: var(--layout-sidebar-width);
}
