@use '@/assets/styles/abstracts' as *;
.container {
  flex-direction: column;
  @include flex-center;
  margin: 20px;
  border: 1px solid #ffc9c9;
  border-radius: 8px;
  background-color: #fff0f0;

  padding: 40px;
  color: #c92a2a;
  text-align: center;
}

.title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
}

.message {
  opacity: 0.8;
  margin-bottom: 20px;
  max-width: 500px;
  font-size: 14px;
  font-family: monospace; // Xəta kodunu oxumaq üçün
}
