.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: var(--space-md);
  border: 1px solid var(--border-error-subtle);
  border-radius: var(--radius-md);
  background-color: var(--bg-error-subtle);
  padding: var(--space-2xl);
  color: var(--text-error-strong);
  text-align: center;
}

.icon {
  margin-block-end: var(--space-md);
}

.title {
  margin-bottom: var(--space-xs);
  font-weight: var(--weight-semibold);
  font-size: var(--text-2xl);
}

.message {
  opacity: 0.8;
  margin-block-end: var(--space-md);
  max-inline-size: var(--modal-max-inline-size-md);
  font-size: var(--text-md);
  font-family: monospace;
}
