@use 'sass:math';
@use 'sass:meta';
@use 'sass:string';
// ============================================================================
// Converts a given pixel value to `rem` units based on the root font size.
// Usage: [property]: rem(32);
// ============================================================================
@function rem($pixel) {
  @if meta.type-of($pixel) != 'number' {
    @error "`#{$pixel}` is not number.";
  }
  $clean-pixel: $pixel;
  @if not math.is-unitless($pixel) {
    $clean-pixel: math.div($pixel, 1px);
  }
  @return math.div($clean-pixel, 16) * 1rem;
}

@function fade($color, $percentage) {
  @return string.unquote('color-mix(in srgb, #{$color}, transparent #{$percentage}%)');
}
