@use '@/assets/styles/abstracts' as a;

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: a.$z-header;
  width: 100%;
}

.navbar {
  background-color: var(--header-navbar-bg);
  padding: var(--space-sm);
}

.logo {
  display: flex;
  align-items: center;

  img {
    display: block;
    width: a.rem(100);
  }
}

.items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  li {
    @include a.flex-center;
  }
}

.avatar {
  margin-right: 15px;

  img {
    border-radius: 5px;
    width: a.rem(28);
    height: a.rem(28);
    object-fit: cover;
  }
}

.logout {
  cursor: pointer;
  color: var(--header-icon-color);
}

.toggle {
  display: flex;
  cursor: pointer;
  color: var(--header-toggle-icon-color);
}

.sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow-medium);
  background-color: var(--header-sub-bg);
  padding: var(--space-xs);
}
